<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">

    <title>Mercado Liebre</title>
</head>
<body>

<!----------------------------Header---------------------------------------------------->

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="div-caja-logo">
        <a href="/">
            <img src="img/logo-mercado-liebre.svg" alt="logo del sitio" class="logo">
        </a>
    </div>
        <form action="" method="post" target="_blank" class="form-  search-nav">
            <p class="caja-p-form-search"> 
                <input type="search" placeholder="Buscar productos" class="input-search-campo">
                <input type="submit" value="Buscar" class="buscar-bottom">
            </p>
        </form>
        <div class="div-p-compra-en-cuotas">
        <p class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> 
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
    </div>

    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="https://www.google.com/">Ofertas</a></li>
                <li><a href="https://www.google.com/">Tiendas Oficiales</a></li>
                <li><a href="https://www.google.com/">Vender</a></li>
                <li><a href="https://www.google.com/">Ayuda</a></li>
            </ul>


            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="https://www.google.com/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <br>
        <nav class="colorAmarillo">
            <div class= "burguer-menu burguerMenu">
                
            </div>
        </nav>
    </header>

<!----------------------------Main---------------------------------------------------->

<main>
    <div class="div-form">
        <form action="/home.html" method="post" class="formulario">
          
            <label for="nombre-y-apellido" class="contenedor-de-cada-input"> 
                <input type="text" name="nombre-y-apellido" placeholder="Nombre y apellido" class="cada-input" required>
          </label>

            <label for="nombre-de-usuario" class="contenedor-de-cada-input"> 
                <input type="text" name="nombre-de-usuario" placeholder="Nombre de usuario" class="cada-input" required>
        </label>

            <label for="email" class="contenedor-de-cada-input"> 
                <input type="email" name="email" placeholder="Email" class="cada-input" required>
        </label>

        <fieldset class="div-titulos-formulario">
            <p class="titulos-formulario">Fecha de nacimiento</p>
        </fieldset>
            <label for="date" class="contenedor-de-cada-input"> 
                <input type="date" name="date" placeholder="Date" class="cada-input" required>
        </label>

            <label for="domicilio" class="contenedor-de-cada-input">
                <input type="text" name="domicilio" placeholder="Domicilio" class="cada-input" required>
          </label>

          <fieldset class="div-titulos-formulario">
            <p class="titulos-formulario">Perfil del usuario</p>
          </fieldset>
        
            <fieldset class="fieldset-ambos-radios">
                <label for="perfil-de-usuario" class="contenedor-de-cada-input label-flex">
                    <input type="radio" name="perfil-de-usuario" value="comprador" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Comprador</p>
            </label>

                <label for="perfil-de-usuario" class="contenedor-de-cada-input label-flex">
                    <input type="radio" name="perfil-de-usuario" value="vendedor" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Vendedor</p>
            </label>
        </fieldset>

        <fieldset class="div-titulos-formulario">
            <p class="titulos-formulario">Intereses</p>
        </fieldset>

            <fieldset class="fieldset-checkbox">
                    <label for="intereses" class="contenedor-de-cada-input label-flex-checkbox">
                        <input type="checkbox" name="intereses" value="electro" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Electro</p>
                </label>

                    <label for="register" class="contenedor-de-cada-input label-flex-checkbox">
                        <input type="checkbox" name="register" value="moda" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Moda</p>
                </label>

                    <label for="intereses" class="contenedor-de-cada-input label-flex-checkbox">
                        <input type="checkbox" name="intereses" value="hogar" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Hogar</p>
                </label>

                    <label for="intereses" class="contenedor-de-cada-input label-flex-checkbox">
                        <input type="checkbox" name="intereses" value="juguetería" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Juguetería</p>
                </label>

                <label for="intereses" class="contenedor-de-cada-input label-flex-checkbox">
                    <input type="checkbox" name="intereses" value="vida-sana" placeholder="Domicilio" class="cada-input-radio"><p class="texto-radio-tipo-de-comprador">Vida sana</p>
                </label>
        </fieldset>

        <fieldset class="div-titulos-formulario seleccionar-foto-perfil-margin">
            <p class="titulos-formulario">Seleccionar foto de perfil</p>
        </fieldset>

        <fieldset class="fieldset-input-file">
            <input type="file" name="foto-de-perfil" class="input-file">
          </fieldset>


        <label for="password" class="contenedor-de-cada-input">
            <input type="password" name="password" placeholder="Contraseña" class="cada-input" required>
          </label>

        <label for="confirm-password" class="contenedor-de-cada-input">
            <input type="password" name="confirm-password" placeholder="Confirmar contraseña" class="cada-input" required>
          </label>

        <fieldset class="fieldset-botones">
        <p class="contenedor-de-cada-input">
            <button type="submit" class="button cada-input">Enviar</button>
        </p>
        <p class="contenedor-de-cada-input">
            <button type="reset" class="cada-input button-borrar">Borrar</button>
        </p>
        </fieldset>

    </form>
    </div>
       



</main>
<!----------------------------Footer---------------------------------------------------->        
    
    <footer>
        <section>
            <i class= "fas fa-credit-card"></i>
            <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siemmpre es seguro!</p>
        </section>
        <br>
        <section>
            <i class="fas fa-gift iconosFooter"></i>
            <h4><strong>Envío gratis desde $2.500</strong></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.</p>
        </section>
        <br>
        <section>
            <i class="fas fa-user-shield iconosFooter"></i>
            <h4><strong>Seguridad de principio a fin</strong></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        
        <div class="section-footer-last-text">
            <p class="borde">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>